.Trending-section{
    
}

.header{
    text-align: center;
}

.card{
    position: relative;
    height: 45rem;
    width: 30rem;
    border: 1px solid black;
}

.card>:nth-child(1){
    width: 90%;
}

.info{
    display: flex;
}

